* {
  outline: none;
}

body {
  font-family: 'Milio', serif;
  color: $white;
  @include breakpoint(medium) {
    overflow: hidden;
  }
}


.small-padding-collapse {
  @include breakpoint(medium) {
    margin-left: auto;
    margin-right: auto;
    > .cell {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
}

@include headings {
  font-family: 'Milio', serif;
  font-weight: 500;
  color: $white;
}
