i {
  &.icon {
    width: 30px;
    height: 30px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &.icon- {
      &facebook {
        background-image: url(../img/social-facebook.png);
      }
      &instagram {
        background-image: url(../img/social-instagram.png);
      }
      &twitter {
        background-image: url(../img/social-twitter.png);
      }
    }
  }
}
