<main class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <article class="grid-x">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <h1>
              <small>Akademilerimiz</small>
              Genç Kariyer ACADEMY
            </h1>
          </div>
        </div>
        <div class="grid-x grid-padding-y">
          <div class="medium-8 cell content">
            <p>
              İş hayatının umudu olan lise son sınıf ve üniversite öğrencileri
              bu akademimiz sizler için. Sizin nasıl bir meslek hayaliniz
              olduğunu dinleyerek ve bu hayalinizin gelecekteki mutlu olacağınız
              iş olup olmadığıyla ilgili bilimsel yönü olan ölçme ve
              değerlendirme uygulamaları ile sizi size sunan bir çalışmamız var.
              Bu sayede gelecekteki sizin hayallerine ulaşması için şahane bir
              başlangıç yapmış olacağız. İş hayatındaki profesyonellerden
              işlerini sevmediklerini ve bir yol gösterenimiz olmadı ki gibi
              sözlere şahit olmuşsunuzdur. Sizin doğru tercihleri yapabilmeniz ,
              değerlerinizle ve hayallerinizle yan yana yürüyen meslek sahipleri
              olmanız için biz sizinle aynı yolda yürüyoruz. Kendinizi
              Sevdiğiniz şeyleri yaparken bulmanızı temenni ettiğimiz gelecek
              planlaması ve potansiyelinizin farkına varmanızı sağlayacak GENÇ
              KARİYER AKADEMİMİZE davet ediyoruz. Sizleri tanımak hatta sadece
              sohbet etmekten büyük mutluluk duyarız. Unutmayın bir dokunuş
              geleceğinizi şekillendirir.
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>
