<main class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <article class="grid-x">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <h1>
              <small>Akademilerimiz</small>
              Hizmet Gelişim ACADEMY
            </h1>
          </div>
        </div>
        <div class="grid-x grid-padding-y">
          <div class="medium-8 cell content">
            <p>
              Kurumun vitrini veya görünür reklam yüzü olan çalışanlara ortak
              bir kurum kültürü benimsetmek, profesyonel iletişim tekniklerini
              kullanmalarını sağlamak ve bu sayede müşteri memnuniyetini ve
              bağlılığını artırmaktır. Müşteri deneyimini olumlu hale
              getirebilmektir.
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>
