<main class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <article class="grid-x">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <h1>
              <small>Akademilerimiz</small>
              Koçluk ACADEMY
            </h1>
          </div>
        </div>
        <div class="grid-x grid-padding-y">
          <div class="medium-8 cell content">
            <p>
              Kurumumuzun prensiplerinin arasında yer alan 'Koçluk' kurumsal ve
              bireysel alanda çalıştığımız bir akademimizdir.ICF Onaylı
              (http://www.mayacoaching.net/one-page-express/profesyonel-yasam-koclugu-egitimi/)
              ve Koçluğun temel prensiplerini eğitimlerimizde yada sizlerle olan
              görüşmelerimizde kullandığımız gibi şirket bünyesindeki
              ilişkilerimizde de kullanmaya özen gösteriyoruz.<br />
              Şirketiniz için kurduğunuz hayallerinize ortak olmayı amaç bilen
              GONCA BERKTAY ACADEMY, Kurumsal Koçluk Eğitimleri de vererek
              şirketinizin gelişimi için koçluk kültürünün yaygınlaştırılmasını
              sağlıyor. <br />Modüllerden oluşan koçluk eğitimleri, her kademede
              çalışana uyarlanabilir şekilde, kişilerin iş ortamında yaşadığı
              bir çok engelinde çözümüne giden bir yol oluyor. GONCA BERKTAY
              ACADEMY bu Akademide de odak noktası sizinle aynı yolda ve çözüm
              ortağınız olmak. Bu sebeple çok güvendiğimiz akademimizle
              tanışmanızı gönülden öneriyoruz.
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>
