<main class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <article class="grid-x">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <h1>
              <small>Akademilerimiz</small>
              Kurum Gelişim ACADEMY
            </h1>
          </div>
        </div>
        <div class="grid-x grid-padding-y">
          <div class="medium-8 cell content">
            <p>
              <strong>Şirketiniz ilk kuruluş aşamasında ise;</strong> kadroların
              ve departmanların oluşumuna, iş süreçlerinin tanımlanması ve
              personel işe alım ile ilgili detayların danışmanlığını
              yapmaktayız. Kurum Gelişim Akademisi’nin altında bunu tematik
              çalışmalar ile ihtiyaca ve amaca hizmet edecek şekilde dizayn
              ederek projelendiriyoruz. Projemiz sonlandığında takibini
              bırakmıyoruz ve yönetici koçluğu ve çalışan koçluğu yaparak
              sürdürülebilir gelişime son noktayı koyuyoruz.
            </p>
            <p>
              <strong>Mevcut bir şirketiniz var ise;</strong> iş yükü
              modellerini, İş gücü vardiya planı ve iş süreçleri modellerini
              tespit edebiliriz. Gerçek zamanlı iş akış modellerini oluşturarak
              mevcut iş gücünün faydalı kullanımı ile ilgili bir çalışma
              yapacağız. Bunun sonucunda birlikte geliştireceğimiz projemizi iş
              başı eğitimleri ve sınıf eğitimleri ile (vaka çalışma ve
              interaktif uygulamalar) gelişime odaklayacağız Büyüme planları ve
              planlanan yeni teknolojiler konusunda detaylı bilgi sunacağız.
            </p>
            <p>
              <strong>Şirketinizin oturmuş ve başarılı işleyen bir iş süreci var
                ise;</strong>
              ancak çalışanlar ile veya müşteriler ile iletişimde olumsuz
              deneyimleriniz artmaya başladı ya da değişikliğe veya personel
              gelişimine ihtiyacınız var ise bu aşama size müşteri deneyimi ve
              bağlılığına yönelik analizler yapacağız. Müşteri deneyimine olumlu
              ya da olumsuz etkisi olan iş süreçlerini inceleyeceğiz. Mevcut
              durumdaki kalite ölçme ve değerlendirme yöntemlerini gözden
              geçireceğiz. Çalışanların müşteri memnuniyeti yaratmadaki
              becerisinin ölçülmesi davranış takım raporunu oluşturacağız.
              Çalışan bağlılığı oluşturmak ve bunu şirket refleksi haline
              getirmek için eğitimler planlayacağız.
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>
