<main class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <article class="grid-x">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <h1>
              <small>Akademilerimiz</small>
              Yönetici Gelişim ACADEMY
            </h1>
          </div>
        </div>
        <div class="grid-x grid-padding-y">
          <div class="medium-8 cell content">
            <p>
              Büyük Liderlerin yaptığı tek şey kendine bağlı olanları yönetmek
              değildir. Onlar ilham verirler. Onlar öğretirler. Onların ofis
              duvarlarının dışına taşan şerefli görevleri vardır. Dünyaya
              yaydıkları misyon ve vizyon başkalarını iyi yönde etkiler.<br />
              Bu akademide TTI SUCCESS INSİGHTS uluslararası ölçme ve
              değerlendirme araçlarını kullanarak gelişim ve dönüşüm için
              şirkete katkısının en yüksek seviyeye çıkmasını hedefliyoruz.
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>
