<main class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <article class="grid-x">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <h1>GONCA BERKTAY ACADEMY KİMDİR?</h1>
          </div>
        </div>
        <div class="grid-x grid-padding-y">
          <div class="medium-8 cell content">
            <p>
              Kurumlara ve bireylere özel dizayn edilen projeler üreten,
              çalışanların gelişimine odaklı, amaca hizmet eden, yaratıcı ve
              sonuç odaklı refleksler edinilmesini sağlamak amacıyla kurulmuş
              danışmanlık ve eğitim şirketiyiz
            </p>

            <h2>
              Vizyonumuz
            </h2>
            <p>
              Sizinle aynı yolda yürüyen ve gelişime destek olan tercih edilen
              bir danışmanlık ve eğitim firması olmak
            </p>

            <h2>
              Misyonumuz
            </h2>
            <p>
              Gelişimi için dokunduğumuz her müşterimize fayda sağlamak.
              Sürdürülebilir gelişimin başlangıcı takipçisi olmak.
            </p>

            <h2>
              DEĞERLERİMİZ
            </h2>
            <ul>
              <li>
                Tutku<br />
                Bir işin fark edilir olması için o işi tutkuyla yapmamız
                gerektiğine inanırız ve biz işimizi tutkuyla ve aşkla yaparız.
                Çalıştığımız firmalara da bu tutkuyu yaşatmaktan memnuniyet
                duyuyoruz.
              </li>
              <li>
                Gelişim<br />
                Şirketin kuruluş hayali, bireylerin ve kurumların gelişimine
                çözüm ortağı olmaktır.
              </li>
              <li>
                Güvenilirlik<br />
                Güven duygusu ve karşılıklı kurulan bağ sözleşme imzalarından
                daha da önemsediğimiz bir şeydir.
              </li>
              <li>
                Yaratıcılık<br />
                İşimizde hayal gücümüzü öncelikli kullanarak, bunu somut
                araçlarla yaratıcılığımızı da katarak, fark yaratan haline
                getiririz. Bizim yaratıcılık değerimiz çok yüksektir. Bunu
                işimizin gelişimi için sürekli kullanmaktan çok keyif alırız.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>
