<main class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <article class="grid-x">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <h1>GONCA BERKTAY ACADEMY KİMDİR?</h1>
          </div>
        </div>
        <div class="grid-x grid-padding-y">
          <div class="medium-8 cell content">
            <p>
              Gelişirken değişmeyi , bunu değişen dinamiklere ve çağa entegre
              etmek isteyen birey ve kurumların yol arkadaşıyız. Kurumsal ve
              bireysel anlamda kendini geliştirmek ve fark yaratan olmak
              isteyenlere fayda sağlamak amacıyla kurulmuş danışmanlık ve eğitim
              şirketiyiz.Kurumsalda mavi ve beyaz yakada ihtiyaca yönelik eğitim
              dizayn ediyoruz. Yönetici Koçluğu, Öğrenci Koçluğu, Ebeveyn
              Koçluğu ve Bireysel koçluk görüşmeleri yapıyoruz. Eğiticinin
              Eğitimi programımız var. ICF Onaylı koçluk eğitimi veriyoruz.
              Kadromuz kurumsal hayat deneyimi olan ve eğitim işine adanmış
              insanlar oluşmaktadır. Onları gerektiğinde tanıtırız çünkü onlar
              bizim kıymetlilerimizdir.
              <br />
              Biz kim olduğumuzun bir kısmını buraya iliştiriyoruz. Daha
              fazlasını yüz yüzeyken konuşmayı daha çok seviyoruz çünkü…
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>
