<main class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <article class="grid-x">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <h1>
              Birlikte çalışırken memnun olduğumuz ve memnun bıraktığımız yol
              arkadaşlarımız…
            </h1>
          </div>
        </div>
        <div class="grid-x grid-padding-y">
          <div class="medium-8 cell content">
            <ul class="no-bullet">
              <li>Marshall Akzo Nobel</li>
              <li>Kordsa</li>
              <li>Denizbank</li>
              <li>Asaş Alüminyum A.Ş.</li>
              <li>Ahmet Elginkan Vakfı</li>
              <li>Albar Kimya</li>
              <li>Morsallıoğlu Kırtasiye</li>
              <li>Kocaeli Büyükşehir Belediyesi</li>
              <li>Sakarya Ticaret Borsası</li>
              <li>Kocaeli Ticaret Odası</li>
              <li>Yıldız Teknik Üniversitesi</li>
              <li>Kocaeli Üniversitesi</li>
              <li>Başsiad</li>
              <li>Maya Coaching</li>
              <li>Eskişehir Milli Eğitim Müdürlüğü</li>
            </ul>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>
