.footer-container {
  footer {
    position: fixed;
    bottom: $global-margin;
    .footer-nav {
      .social {
        li {
          a {
            color: $white;
            // text-shadow: $light-brown 1px 0px 0px,
            //   $light-brown 0.540302px 0.841471px 0px,
            //   $light-brown -0.416147px 0.909297px 0px,
            //   $light-brown -0.989992px 0.14112px 0px,
            //   $light-brown -0.653644px -0.756802px 0px,
            //   $light-brown 0.283662px -0.958924px 0px,
            //   $light-brown 0.96017px -0.279415px 0px;
            // text-shadow: 0px 0px 1px red, 0px 0px 1px red;
            -webkit-text-stroke: 1px $light-brown;
            padding: .4rem .7rem;
          }
        }
      }
    }
  }
}
