.sticky-container {
  .sticky {
    &.is-stuck {
      position: fixed;
      z-index: 10;
      background: $white;
    }
  }
}
.header-container {
  position: relative;
  @include breakpoint(medium) {
    height: 100vh;
  }
  header {
    padding-top: $global-padding;
    .logo {
      // background: url(../img/gb_logo.png) no-repeat center;
      // background-size: cover;
      // display: inline-block;
      // text-indent: -9999px;
      display: block;
      .is-stuck & {
        img {
          width: 150px;
          height: auto;
        }
      }
      @include breakpoint(medium) {
        width: 200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .title-bar {
    position: absolute;
    top: $global-padding;
    right: $global-padding;
    display: inline-block;
    .title-bar-title {
      display: block;
    }
    .menu-icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  nav {
    &#main-nav {
      @include breakpoint(medium) {
        position: absolute;
        bottom: 65px;
        width: 100%;
      }
      ul {
        &.menu {
          li {
            a {
              font-family: 'Milio', serif;
              @include font-size(22px);
              font-weight: 600;
              color: $light-brown;
              padding: .4rem .7rem;
            }
            .submenu {
              margin-left: 30px;
              li {
                a {
                  color: $secondary-color;
                  position: relative;
                  @include font-size(16px);
                  line-height: 20px;
                  &::before {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background: url(../img/bullet.png) no-repeat center;
                    background-size: cover;
                    left: -20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

