.main-container {
  background: $light-brown url(../img/gonca-berkay.png) no-repeat;
  background-size: auto 50%;
  background-position: right bottom;
  background-attachment: fixed;
  padding-right: 50px;
  @include breakpoint(medium) {
    padding-top: $global-padding*10;
    height: 100vh;
    overflow-y: scroll;
    background-size: auto 88%;
    background-origin: content-box;
    background-position: right 5% bottom;
    background-attachment: unset;
  }
}
main {
  // height: 2000px;
  article {
    padding-left: $global-padding*2;
  }
  .content {
    border-top: 2px solid $white;
    table {
      tbody {
        tr {
          td {
            &.title {
              padding-top: $global-padding;
              padding-bottom: $global-padding;
            }
          }
        }
      }
    }
  }
  h1 {
    @include font-size(30px);
    line-height: 1.1;
    small {
      display: block;
      line-height: 1;
      color: rgba($white, .4);
    }
  }
  h2 {
    @include font-size(24px)
  }
  h3 {
    @include font-size(20px)
  }
}
