<footer class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <nav class="footer-nav">
      <ul class="menu horizontal social">
        <li><a href="#"><i class="icon icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon icon-instagram"></i></a></li>
      </ul>
    </nav>
  </div>
</footer>