<header class="grid-x grid-padding-x">
  <div class="medium-12 small-6 small-offset-3 medium-offset-0 cell">
    <div class="grid-x grid-padding-y grid-padding-x">
      <div class="medium-12 cell text-center">
        <a href="{{root}}/" title="Gonca Berktay Academy" class="logo">
          <img src="{{root}}assets/img/gb_logo.png" alt="Gonca Berktay Academy logo">
        </a>
      </div>
    </div>
  </div>
</header>

<div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="main-nav"></button>
  <div class="title-bar-title">Menü</div>
</div>

<nav class="grid-x grid-padding-x align-bottom" id="main-nav">
  <div class="medium-12 cell">
    <ul class="vertical menu accordion-menu" data-accordion-menu data-multi-open="false">
      <li><a href="{{root}}/">Anasayfa</a></li>
      <li><a href="{{root}}/biz-kimiz.html">Biz Kimiz?</a></li>
      <li>
        <a href="#">Sizinle Nasıl Çalışabiliriz?</a>
        <ul class="menu vertical nested{{#ifpage 'stage-speaker' 'danismanlik' 'seminerler' 'olcme-degerlendirme-ve-gelisim-araclari'}} is-active{{/ifpage}}">
          <li><a href="{{root}}sizinle-nasil-calisabiliriz/stage-speaker.html">Stage Speaker</a></li>
          <li><a href="{{root}}sizinle-nasil-calisabiliriz/danismanlik.html">Danışmanlık</a></li>
          <li><a href="{{root}}sizinle-nasil-calisabiliriz/seminerler.html">Seminerler</a></li>
          <li><a href="{{root}}sizinle-nasil-calisabiliriz/olcme-degerlendirme-ve-gelisim-araclari.html">Ölçme Değerlendirme ve Gelişim Araçları</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Akademilerimiz</a>
        <ul class="menu vertical nested{{#ifpage 'kurulum-gelisim-akademi' 'yonetici-gelisim-akademi' 'hizmet-gelisim-akademi' 'kocluk-akademi' 'liderlik-akademi' 'genc-kariyer-akademi'}} is-active{{/ifpage}}">
          <li><a href="{{root}}akademilerimiz/kurulum-gelisim-akademi.html">Kurum Gelişim ACADEMY</a></li>
          <li><a href="{{root}}akademilerimiz/yonetici-gelisim-akademi.html">Yönetici Gelişim ACADEMY</a></li>
          <li><a href="{{root}}akademilerimiz/hizmet-gelisim-akademi.html">Hizmet Gelişim ACADEMY</a></li>
          <li><a href="{{root}}akademilerimiz/kocluk-akademi.html">Koçluk ACADEMY</a></li>
          <li><a href="{{root}}akademilerimiz/liderlik-akademi.html">Liderlik ACADEMY</a></li>
          <li><a href="{{root}}akademilerimiz/genc-kariyer-akademi.html">Genç Kariyer ACADEMY</a></li>
        </ul>
      </li>
      <li><a href="{{root}}yol-arkadaslarimiz.html">Yol Arkadaşlarımız</a></li>
    </ul>
  </div>
</nav>