<main class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <article class="grid-x">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <h1>
              <small>Sizinle Nasıl Çalışabiliriz?</small>
              2- DANIŞMANLIK’ta çok iddalıyız!!!
            </h1>
          </div>
        </div>
        <div class="grid-x grid-padding-y">
          <div class="medium-8 cell content">
            <p>
              Bireysel ve Kurumsal Danışmanlık hizmeti veriyoruz.
            </p>
            <h2>Bireysel:</h2>
            <ul>
              <li>Mesleki ve Bireysel gelişim</li>
              <li>Stil Danışmanlığı</li>
              <li>Yönetici ve Siyasetçi Gelişim Programı</li>
            </ul>
            <h2>Kurumsal:</h2>
            <ul>
              <li>
                Şirket değerlerinin personele ve yöneticilere kurum kültürü
                haline getirilmesi
              </li>
              <li>İş akışlarının ve süreçlerinin düzenlenmesi</li>
              <li>İşe alım ve terfilerde değerlendirme ve geliştirme</li>
              <li>
                Şirket gelecek hayalinin somut olarak belirlenmesi ve
                raporlanması
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>
