<main class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <article class="grid-x">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <h1>
              <small>Sizinle Nasıl Çalışabiliriz?</small>
              4- ÖLÇME DEĞERLENDİRME VE GELİŞİM ARAÇLARInı kullanabiliriz…
            </h1>
          </div>
        </div>
        <div class="grid-x grid-padding-y">
          <div class="medium-8 cell content">
            <p>
              Temsilcisi ve analisti olduğumuz ‘TTI Success Insights‘
              kuruluşlarının ürettiği ölçme değerlendirme araçlarını
              uygulamaktayız. Uzun yıllar süren araştırma ve uygulamalar
              sonucunda etkinliği kanıtlanmış bu araçlar, işe alımdan performans
              yönetimine, şirket yönetim planlaması ve eğitim projelendirmeye
              kadar birçok alanda kullanılabilmektedir.
            </p>
            <h2>TRIMETRIX HD NEYİ ÖLÇER?</h2>
            <h3>Davranışları, Motivatörleri, Yetenekleri ve Algıları ölçer!</h3>
            <p>Dört ayrı bilimi birleştiren ve performansın anahtar alanlarını görmenizi sağlayan güçlü bir ölçme ve değerlendirme aracıdır.</p>
            <ul>
              <li>NASIL davranıyoruz ve iletişim kuruyoruz: DISC</li>
              <li>NEDEN harekete geçiyoruz: İşyeri Motivatörleri</li>
              <li>HANGİ yetkinliklerde ne derecede ustalaşmışız: Yetenekler</li>
              <li>HANGİ kişisel yeteneklere sahibiz: Algılar (Boyutsal Denge)</li>
            </ul>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>
