<main class="grid-x grid-padding-x">
    <div class="medium-12 cell">
      <article class="grid-x">
        <div class="medium-12 cell">
          <div class="grid-x">
            <div class="medium-6 cell">
              <h1>
                <small>Sizinle Nasıl Çalışabiliriz?</small>
                3- Seminerler verebiliriz…
              </h1>
            </div>
          </div>
          <div class="grid-x grid-padding-y">
            <div class="medium-8 cell content">
              <table style="width: 100%">
                <thead>
                  <tr>
                    <th class="text-left">Seminer</th>
                    <th class="text-left">Süre</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Bu Havalar Tam Benlik (Benlik Durumları)</td>
                    <td>3 Saat</td>
                  </tr>
                  <tr colspan="2">
                    <td class="title">Seminer Ve Katolog Eğitimlerimiz</td>
                  </tr>
                  <tr>
                    <td>Kendi Liderliğini İlan Et</td>
                    <td>3 Saat</td>
                  </tr>
                  <tr>
                    <td>Farkındalık Semineri</td>
                    <td>3 Saat</td>
                  </tr>
                  <tr>
                    <td>Stresimi Yedim</td>
                    <td>3 Saat</td>
                  </tr>
                  <tr>
                    <td>Koçluk Prensipli Liderlik Semineri</td>
                    <td>3 Saat</td>
                  </tr>
                  <tr>
                    <td>Mutlu Ebeveyn Olmak İçin Çok Geç Değil</td>
                    <td>3 Saat</td>
                  </tr>
                  <tr>
                    <td>Çocuğum Mükemmel Olmasa da Olur</td>
                    <td>3 Saat</td>
                  </tr>
                  <tr>
                    <td>Gülümse Hayata Mutlu Ol Semineri</td>
                    <td>3 Saat</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </article>
    </div>
  </main>
  