<main class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <article class="grid-x">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <h1>
              <small>Sizinle Nasıl Çalışabiliriz?</small>
              1- STAGE SPEAKER hizmeti verebiliriz mesela…
            </h1>
          </div>
        </div>
        <div class="grid-x grid-padding-y">
          <div class="medium-8 cell content">
            <p>
              Kurucumuz GONCA BERKTAY'ın sunumuyla, iş hayatını ve özel hayatı
              koçluk öğretilerileri ile hem gülümseten hem de hemen şimdi
              hayatlarına katabilecekleri, hayattan hikayelerin anlatıldığı
              speaker hizmeti sunmaktayız. Motivasyona ve şirket kültürüne
              yönelik kuruma yada kitleye özel konuşmalar dizayn edilmektedir.
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>
