<!DOCTYPE html>
<html class="no-js" lang="tr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gonca Berktay Academy</title>
    <link rel="stylesheet" href="{{ root }}assets/css/app.css" />
  </head>
  <body>
    <div class="grid-container full">
      <div class="grid-x">
        <div class="cell medium-12">
          <div class="grid-x grid-padding-x small-padding-collapse">
            <div class="medium-4 cell" data-sticky-container>
              <div class="grid-x sticky" data-sticky data-sticky-on="small" data-options="marginTop:0;" style="width:100%">
                <div class="medium-12 cell header-container">
                  {{> header}}
                </div>
              </div>
              <div class="grid-x">
                <div class="medium-12 cell footer-container">
                  {{> footer}}
                </div>
              </div>
            </div>
            <div class="medium-8 cell main-container">
              <div class="grid-x grid-margin-x grid-padding-x">
                <div class="medium-12 cell">
                  {{> body}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
